<div class="recipe-selector">
  <button (click)="showCarbonara()">
    Show Carbonara
    @if (recipes[0].isFavorite; as isFavorite) {
      <p>★</p>
    }
  </button>
  <button (click)="showCapreseSalad()">
    Show Caprese Salad
    @if (recipes[1].isFavorite; as isFavorite) {
      <p>★</p>
    }
  </button>
</div>

<!-- 
  This is the crucial line:
  We are passing the `activeRecipe` signal from this component
  to the `recipe` input of the child component.
-->
<app-recipe-detail [recipe]="activeRecipe()"></app-recipe-detail>
