@if (recipe(); as recipe) {
  <div class="detail-layout">
    <img [src]="recipe.imgUrl" [attr.alt]="recipe.name" />

    <div class="details">
      <h2>{{ recipe.name }}
        @if (recipe.isFavorite; as isFavorite) {
          <p>★</p>
        }
      </h2>
      <p>{{ recipe.description }}</p>

      <div class="servings-control">
        <h3>Servings: {{ servings() }}</h3>
        <button (click)="decrement()">-</button>
        <button (click)="increment()">+</button>
      </div>

      <h4>Ingredients (Adjusted for {{ servings() }} servings)</h4>
      <!-- We will replace this with a @for loop in our next step -->
      <ul>
        @for (ingredient of adjustedIngredients(); track ingredient.name) {
          <li>
            {{ ingredient.name }} - {{ ingredient.quantity }} {{ ingredient.unit }}
          </li>
        }
      </ul>
    </div>
  </div>
}
